.About {
    display: flex;
    flex-direction: column;
    width: 950px;
    min-width: 100px;
    font-size: 36px;
    padding-top: 50px;
    color: #333333;
}

.About-text {
    margin-left: 40px;
}